div.about {

	position: relative;
	margin-top: 2%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.title {

	margin-bottom: 1%;
	font-size: 2.5em;
	font-family: Oswald;

}

p {

	margin-bottom: 2%;
	font-size: 1em;
	color: #424242;

}
