.content {

	width: 80%;
	height: 100%;
	margin-left: 20%;
	position: relative;

}

.postColor {

	width: 100%;
	background-color: #E6E6E6;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	color: #BDBDBD;

}

.postColor:hover {

	background-color: #FE9A2E;
	color: #F2F2F2;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;

}

.post {

	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	color: #BDBDBD;

}

.post:hover {

	background-color: #FE9A2E;
	color: #F2F2F2;

}

.postTitle {

	text-align: center;
	color: inherit;
	font-size: 3em;
	margin-top: 2%;
	margin-bottom: 6%;
	font-family: Nevis;

}

.basicTitle {

	font-size: 2em;
	color: inherit;
	text-align: center;
	margin-bottom: 4%;
	font-family: Nevis;

}

div.example {

	width: 80%;
	position: relative;
	margin: 0 auto;
	height: 500px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;

}

.overlay {

	position: absolute;
	width: 100%;
	height: 0%;
	bottom: 0px;
	opacity: 0;
	left: 0px;
	right: 0px;
	font-size: 3em;
	color: #F1F1F1;
	font-family: Nevis;
	background-color: rgba(28, 28, 28, 0.7);
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;

}

div.example:hover .overlay {

	height: 100%;
	opacity: 1;

}

div.example:hover {

	background-size: 110% auto;

}

#goodOne {

	background-image: url('../images/screenshots/neato.png');

}

#badOne {

	background-image: url('../images/screenshots/bad.png');

}

p.overlayText {

	position: relative;
	margin-top: 50%;
	color: rgba(242, 242, 242, 0.8);
	margin-left: 10%;
	width: 50%;
	height: 0px;
	opacity: 0;
	display: none;

}

div.example:hover div.overlay p.overlayText {

	height: auto;
	opacity: 1;
	display: block;

}

hr.basicSep {

	width: 20%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border-bottom: 2px solid #BDBDBD;
	display: block;
	position: relative;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;

}

.post:hover hr {

	border-bottom: 2px solid #F2F2F2;

}

.postColor:hover hr {

	border-bottom: 2px solid #F2F2F2;

}

#between {

	margin-top: 4%;
	margin-bottom: 4%;

}

.bigText {

	color: inherit;
	font-size: 5em;
	font-family: Nevis;
	line-height: 1em;
	text-align: center;

}
