p.name {
    
    font-family: Nevis;
    font-size: 4em;
    color: #088A4B;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    
}

hey {
 
    font-size: 2em;
    display: block;
    font-family: nevis;
    margin-bottom: 3%;
    
}

p.general {
    
    text-align: center; 
    line-height: 2em;
    
}

div.imageContain {
    
    width: 100%;
    left: 0px;
    right: 0px;
    position: relative;
    padding: 0px;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

#vince:hover {
    
    cursor: pointer;
    transform: scale(1.1);
    z-index: 2;
    
}

#octopus:hover {
    
    cursor: pointer;
    transform: scale(1.1);
    z-index: 2;
    
}

#other:hover {
    
    cursor: pointer;
    transform: scale(1.1);
    z-index: 2;
    
}

#vince {
    
    background-image: url('../images/vince.png'); 
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    height: 300px;
    -webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
    
}

#octopus {
    
    background-image: url('../images/octopus.png');   
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    height: 300px;
    -webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
    
}

#other {
    
    background-image: url('../images/tank.png');   
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    height: 300px;
    -webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
    
}

fabric {
    
    width: 100%;
    left: 0px;
    right: 0px;
    margin-top: 3%;
    height: 300px;
    background-image: url('../images/fabric.jpg');
    background-position: center;
    background-repeat: repeat;
    display: block;
    
}