.content {

	position: relative;
	margin-left: 20%;
	top: 0px;
	height: 100%;

}

h1 {

	color: #F2F2F2;
	font-family: Oswald;
	font-size: 5em;
	position: relative;
	margin-top: 3%;

}

form {

	color: #FAFAFA;

}

input {

	height: 5%;
	background-color: #E6E6E6;
	width: 40%;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	color: #151515;
	margin-top: 2%;
	border-radius: 4px;
	border: none;
	padding: 12px;
	font-family: OpenSans;

}

input:focus {

	background-color: #E0ECF8; 
	border-radius: 0px;

}

input[type="submit"] {

	width: 80px;
	height: 40px;
	background-color: #0040FF;
	border-radius: 4px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	color: #FAFAFA;
	border: 0px;
	margin-top: 3%;
	display: inline-block;
	margin-right: 2%;
	font-family: OpenSans;

}

input[type="submit"]:hover {

	background-color: #0431B4;
	border-radius: 0px;

}

input[type="reset"] {

	width: 80px;
	height: 40px;
	background-color: #0040FF;
	border-radius: 4px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	color: #FAFAFA;
	border: 0px;
	margin-top: 3%;
	display: inline-block;
	font-family: OpenSans;

}

input[type="reset"]:hover {

	background-color: #0431B4;
	border-radius: 0px;

}

textarea {

	background-color: #E6E6E6;
	width: 40%;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	color: #151515;
	margin-top: 2%;
	border-radius: 4px;
	border: none;
	padding: 12px;
	font-family: OpenSans;

}

textarea:focus {

	background-color: #E0ECF8; 
	border-radius: 0px;

}
