@font-face {

	font-family: Oswald;
	src: url('../fonts/Oswald.ttf');

}

@font-face {

	font-family: OpenSans;
	src: url('../fonts/OpenSans.ttf');
	src: url('../fonts/OpenSans.otf');

}

@font-face {

	font-family: Nevis;
	src: url('../fonts/Nevis.ttf');
	src: url('../fonts/Nevis.oft');

}

body {

	padding: 0px;
	background-color: #F2F2F2;
	font-size: 16px;
	font-family: OpenSans;
	color: #1C1C1C;

}

a {

	text-decoration: none;
	color: inherit;

}
