@font-face {

	font-family: Oswald;
	src: url('../fonts/Oswald/Oswald-Regular.ttf');

}

@font-face {

	font-family: OpenSans;
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');

}

body {

	font-size: 14px;
	font-family: OpenSans;
	background-color: #151515;

}

a {

	text-decoration: none;

}


