div.nav {
    
    font-family: Playfair;
    color: #424242;
    text-align: center;
    right: 0px;
    left: 0px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: fixed;
    z-index: 5;
    -webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
    
}

div.nav:hover {
    
    color: #04B45F;   
    
}