.popup {
    
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: #F2F2F2;
    font-family: OpenSans;
    font-size: 1.5em;
    overflow-y: scroll; 
    display: none;
    z-index: 5;
    
}

.popupTitle {
    
    font-family: PlayFair;
    font-size: 3em;
    padding: 5%;
    background-color: rgba(4, 180, 95, 0.8);
    margin-bottom: 0px;
    
}

.descText {
 
    width: 60%;
    left: 0px;
    top: -5%;
    padding: 5%;
    color: #1C1C1C;
    margin: 0px;
    background-color: rgba(242, 242, 242, 0.8);
    
}

.closeKey {
    
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
    border: 3px solid #E6E6E6;
    background-color: #F2F2F2;
    -webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
    position: fixed;
    right: 5vh;
    top: 5vh;
    
}

.closeKey:hover {
    
    border: 3px solid #FA5858;
    background-color: #FA5858;
    cursor: pointer;
    
}

.popup:before {
 
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
    content: "";
    
}

#designover:before {
  
    background-image: url('../images/screenshots/design.PNG');
    
}

#jerrysover:before {

    background-image: url('../images/screenshots/jerryskids.PNG');
    
}

#port7over:before {

    background-image: url('../images/screenshots/port7.PNG');
    
}

#port8over:before {

    background-image: url('../images/screenshots/port8.PNG');
    
}

#port9over:before {
    
    background-image: url('../images/screenshots/port9.PNG');
    
}

#pyrosover:before {
    
    background-image: url('../images/screenshots/pyros.PNG');
    
}

#watchlistover:before {
    
    background-image: url('../images/screenshots/watchlist.PNG');
    
}