table.jobRoles {

	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;

}

table.joRoles tr {

	width: 30%;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

table.jobRoles tr td {

	padding: 10px;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;

}

p.tableTitle {

	font-family: Nevis;
	font-size: 2em;
	color: inherit;

}

div.icon {

	height: 128px;
	width: 128px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	border: none;
	outline: none;
	background-position: center;
	background-size: cover;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;

}

#designIcon {

	background-image: url('../images/icons/design.png');

}

#frontendIcon {

	background-image: url('../images/icons/frontend.png');

}

#backendIcon {

	background-image: url('../images/icons/backend.png');

}

#roles:hover table tr td #designIcon {

	background-image: url('../images/icons/design_hover.png');

}

#roles:hover table tr td #frontendIcon {

	background-image: url('../images/icons/frontend_hover.png');

}

#roles:hover table tr td #backendIcon {

	background-image: url('../images/icons/backend_hover.png');

}
